<pre style="zoom: 0.1;">
    ----- <span style="zoom: 10;">This is how I look :) </span>
    -----------------------------------------------------------------------
    -----------------------------------00----------------------------------
    -------------------------------0000000000------------------------------
    ----------------------------------0000---------------------------------
    ---------------------------------00--00--------------------------------
    ---------------------------------00--00--------------------------------
    -----------------------------------------------------------------------
</pre>